@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
* {
  margin: 0;
  padding: 0;
}

p,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
}

.logo-image {
  height: 64px;
}

.header {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 74px;
  box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.5);
}
.header .navbar {
  padding: 0;
  height: 74px;
}
.header .navbar .container-fluid {
  background-color: #272747;
  background: linear-gradient(0deg, #3d3d6f, #272747);
  z-index: 10;
  padding: 0;
}
.header .navbar .container-fluid .navbar-brand {
  margin: 0;
}
.header .navbar .container-fluid .navbar-brand .logo-image {
  width: 4rem;
  height: 4rem;
}
.header .navbar .container-fluid #navbarNavDropdown .navbar-nav .nav-item .nav-link {
  position: relative;
  border-radius: 4px;
  padding: 8px 20px;
}
.header .navbar .container-fluid #navbarNavDropdown .navbar-nav .nav-item .nav-link::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 10%;
  margin: 0;
  border: 0;
  width: 80%;
  height: 2px;
  background-color: #fff;
  transition: transform 0.25s;
  transform: scaleX(0);
  transform-origin: right;
}
.header .navbar .container-fluid #navbarNavDropdown .navbar-nav .nav-item .nav-link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
.header .navbar .container-fluid #navbarNavDropdown .navbar-nav .nav-item .nav-link:hover {
  color: #f1884e;
}
.header .navbar .container-fluid #navbarNavDropdown .navbar-nav .nav-item .nav-link .far, .header .navbar .container-fluid #navbarNavDropdown .navbar-nav .nav-item .nav-link .fas {
  display: none;
}
.header .navbar .container-fluid #navbarNavDropdown .navbar-nav .nav-item #navbarDropdownMenuLink {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.header .navbar .container-fluid #navbarNavDropdown .navbar-nav .nav-item #navbarDropdownMenuLink .arrow {
  display: flex;
  align-items: center;
  margin: 0;
  width: 16px;
  height: 19px;
}
.header .navbar .container-fluid #navbarNavDropdown .navbar-nav .nav-item #navbarDropdownMenuLink .arrow .arrow-a {
  width: 8px;
  height: 2px;
  background-color: #f1884e;
  transition: transform 0.2s;
  transform: translate(3px, 3px) rotate(45deg);
}
.header .navbar .container-fluid #navbarNavDropdown .navbar-nav .nav-item #navbarDropdownMenuLink .arrow .arrow-b {
  width: 8px;
  height: 2px;
  background-color: #f1884e;
  transition: transform 0.2s;
  transform: translateY(3px) rotate(-45deg);
}
.header .navbar .container-fluid #navbarNavDropdown .navbar-nav .nav-item #navbarDropdownMenuLink[aria-expanded=true] .arrow-a {
  transform: translate(3px, 3px) rotate(-45deg);
}
.header .navbar .container-fluid #navbarNavDropdown .navbar-nav .nav-item #navbarDropdownMenuLink[aria-expanded=true] .arrow-b {
  transform: translateY(3px) rotate(45deg);
}
.header .navbar .container-fluid #navbarNavDropdown .navbar-nav .nav-item .dropdown-menu {
  display: block;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.3);
  border: 0;
  transition: all 0.25s;
  transform: translateY(20px);
}
.header .navbar .container-fluid #navbarNavDropdown .navbar-nav .nav-item .dropdown-menu.show {
  visibility: visible;
  opacity: 1;
  transform: translateY(4px);
}
.header .navbar .container-fluid #navbarNavDropdown .navbar-nav .nav-item .dropdown-menu .dropdown-item {
  position: relative;
  transition: all 0.2s;
}
.header .navbar .container-fluid #navbarNavDropdown .navbar-nav .nav-item .dropdown-menu .dropdown-item::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  margin: 0;
  border: 0;
  width: 3px;
  height: 100%;
  transform: scaleX(0);
  transform-origin: left;
}
.header .navbar .container-fluid #navbarNavDropdown .navbar-nav .nav-item .dropdown-menu .dropdown-item:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
.header .navbar .container-fluid #navbarNavDropdown .navbar-nav .nav-item .dropdown-menu .dropdown-item:hover {
  padding-left: 24px;
}
.header .navbar .container-fluid #navbarNavDropdown .navbar-nav .nav-item .dropdown-menu .dropdown-item:active {
  background: #f1884e;
}
.header .navbar .container-fluid #navbarNavDropdown .navbar-nav .nav-item .dropdown-menu .dropdown-item-ale::after {
  background-color: gold;
}
.header .navbar .container-fluid #navbarNavDropdown .navbar-nav .nav-item .dropdown-menu .dropdown-item-scotch::after {
  background-color: #C93636;
}
.header .navbar .container-fluid #navbarNavDropdown .navbar-nav .nav-item .dropdown-menu .dropdown-item-stout::after {
  background-color: black;
}
@media only screen and (max-width: 991px) {
  .header .navbar .container-fluid {
    justify-content: flex-end;
  }
  .header .navbar .container-fluid .navbar-toggler {
    flex-basis: 20%;
    border: transparent;
    box-shadow: none;
    height: auto;
    padding: 0;
  }
  .header .navbar .container-fluid .navbar-toggler .menu-icon {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  .header .navbar .container-fluid .navbar-toggler .menu-icon .stick {
    background-color: rgba(255, 255, 255, 0.8);
    width: 24px;
    height: 2px;
    margin: 3px 0;
    transition: all 0.25s ease;
  }
  .header .navbar .container-fluid .navbar-toggler .menu-icon .stick-mid {
    width: 18px;
  }
  .header .navbar .container-fluid .navbar-toggler .menu-icon .stick-down {
    width: 12px;
  }
  .header .navbar .container-fluid .navbar-toggler .menu-icon:hover .stick {
    background-color: tomato;
  }
  .header .navbar .container-fluid .navbar-toggler:focus {
    border: transparent;
    box-shadow: none;
  }
  .header .navbar .container-fluid .navbar-toggler[aria-expanded=true] .stick {
    background-color: tomato;
  }
  .header .navbar .container-fluid .navbar-toggler[aria-expanded=true] .stick-up {
    transform: translateY(8px) rotate(45deg);
  }
  .header .navbar .container-fluid .navbar-toggler[aria-expanded=true] .stick-mid {
    transform-origin: center;
    transform: scaleX(0);
  }
  .header .navbar .container-fluid .navbar-toggler[aria-expanded=true] .stick-down {
    width: 24px;
    transform: translateY(-8px) rotate(-45deg);
  }
  .header .navbar .container-fluid .navbar-brand {
    flex-basis: 60%;
    display: flex;
    justify-content: center;
  }
  .header .navbar .container-fluid #navbarNavDropdown {
    transition: opacity 1.5s;
  }
  .header .navbar .container-fluid #navbarNavDropdown.collapsing {
    opacity: 0;
    transition: height 0.45s;
  }
  .header .navbar .container-fluid #navbarNavDropdown .navbar-nav {
    height: calc(100vh - 74px);
    opacity: 1;
    justify-content: center;
  }
  .header .navbar .container-fluid #navbarNavDropdown .navbar-nav .nav-item.nav-item-5 .nav-link::after {
    display: none;
  }
  .header .navbar .container-fluid #navbarNavDropdown .navbar-nav .nav-item .nav-link {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 4px;
    line-height: 32px;
    padding: 8px 10px;
  }
  .header .navbar .container-fluid #navbarNavDropdown .navbar-nav .nav-item .nav-link::after {
    left: 0%;
    width: 100%;
    height: 1px;
    background-color: #ffffff20;
    transform: none;
  }
  .header .navbar .container-fluid #navbarNavDropdown .navbar-nav .nav-item .nav-link:hover::after {
    background-color: #ffffff60;
    transform: none;
  }
  .header .navbar .container-fluid #navbarNavDropdown .navbar-nav .nav-item .nav-link .far, .header .navbar .container-fluid #navbarNavDropdown .navbar-nav .nav-item .nav-link .fas {
    display: block;
    width: 100%;
  }
}
@media only screen and (max-width: 991px) and (max-height: 446px) {
  .header .navbar .container-fluid #navbarNavDropdown .navbar-nav .nav-item .nav-link .far, .header .navbar .container-fluid #navbarNavDropdown .navbar-nav .nav-item .nav-link .fas {
    display: inline-block;
    width: auto;
  }
}
@media only screen and (max-width: 991px) {
  .header .navbar .container-fluid #navbarNavDropdown .navbar-nav .nav-item .nav-link#navbarDropdownMenuLink .arrow {
    height: 25px;
  }
}
@media only screen and (max-width: 991px) {
  .header .navbar .container-fluid #navbarNavDropdown .navbar-nav .nav-item .dropdown-menu {
    margin: 0;
    border: 0;
    border-radius: 0;
    padding: 0;
    height: 0;
    display: flex;
    justify-content: center;
    transition: all 0.25s;
    transform-origin: top;
    transform: scaleY(0);
  }
  .header .navbar .container-fluid #navbarNavDropdown .navbar-nav .nav-item .dropdown-menu.show {
    height: 62px;
    overflow: hidden;
    transform: scaleY(1);
  }
}
@media only screen and (max-width: 991px) and (max-height: 446px) {
  .header .navbar .container-fluid #navbarNavDropdown .navbar-nav .nav-item .dropdown-menu.show {
    height: 48px;
  }
}
@media only screen and (max-width: 991px) {
  .header .navbar .container-fluid #navbarNavDropdown .navbar-nav .nav-item .dropdown-menu li {
    position: relative;
    width: 100%;
  }
  .header .navbar .container-fluid #navbarNavDropdown .navbar-nav .nav-item .dropdown-menu li:nth-of-type(-n+2)::after {
    position: absolute;
    content: "";
    top: 30%;
    right: 0px;
    width: 1px;
    height: 40%;
    background-color: #d9ccf3;
  }
  .header .navbar .container-fluid #navbarNavDropdown .navbar-nav .nav-item .dropdown-menu li .dropdown-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .header .navbar .container-fluid #navbarNavDropdown .navbar-nav .nav-item .dropdown-menu li .dropdown-item:hover {
    padding: 4px 16px;
    background-color: #d9ccf3;
  }
  .header .navbar .container-fluid #navbarNavDropdown .navbar-nav .nav-item .dropdown-menu li .dropdown-item:hover::after {
    display: none;
  }
}
@media only screen and (max-width: 991px) and (max-height: 446px) {
  .header .nav-item .nav-link.dropdown-toggle {
    align-items: baseline;
  }
  .header .nav-item .nav-link.dropdown-toggle .arrow {
    transform: translateY(-6px);
  }
}

#body-index {
  display: grid;
  grid-template-rows: 74px 60vh auto auto;
  grid-template-columns: 1fr;
  grid-template-areas: "header-index" "slide-index" "content" "footer-index";
}
#body-index .header-index {
  grid-area: header-index;
}
#body-index .slide-index {
  grid-area: slide-index;
}
#body-index .content {
  grid-area: content;
}
#body-index .footer-index {
  grid-area: footer-index;
}

.main-section {
  position: relative;
}

.encabezado-main {
  position: absolute;
  top: 10%;
  left: 10%;
  font-style: normal;
  font-family: "Oswald", sans-serif;
  font-size: 4rem;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 8px 8px 18px black;
  letter-spacing: 0.625rem;
  width: 80%;
  max-width: 600px;
  height: 300px;
  z-index: 1;
}
@media only screen and (min-width: 426px) and (max-width: 768px) {
  .encabezado-main {
    max-width: 400px;
    height: auto;
    font-size: 3.25rem;
  }
}
@media only screen and (min-width: 0px) and (max-width: 425px) {
  .encabezado-main {
    width: 300px;
    height: auto;
    font-size: 2.75rem;
    line-height: 3rem;
  }
}

.patagonia {
  background-image: linear-gradient(200deg, #ff008f 0%, #fffF00 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-shadow: none;
}

.carousel .carousel-item {
  height: 60vh;
}
.carousel .carousel-item img {
  height: 100%;
  object-fit: cover;
}
.carousel .carousel-control-prev {
  transition: all 0.3s;
}
.carousel .carousel-control-prev:hover {
  box-shadow: 120px 0px 40px -90px rgba(255, 255, 255, 0.5) inset;
}
.carousel .carousel-control-next {
  transition: all 0.3s;
}
.carousel .carousel-control-next:hover {
  box-shadow: -120px 0px 40px -90px rgba(255, 255, 255, 0.5) inset;
}

@media only screen and (max-width: 991px) {
  .carousel .carousel-control-next, .carousel .carousel-control-prev {
    display: none;
  }
}
/* Fin Sección principal */
.content {
  display: grid;
  grid-template-columns: 1fr 250px;
  grid-template-rows: auto auto;
  grid-template-areas: "articulo aside" "productos aside";
  gap: 20px;
  margin: 20px max(calc(50% - 450px), 12px);
  max-width: 900px;
}
.content .articulo {
  grid-area: articulo;
}
.content .aside {
  grid-area: aside;
  position: sticky;
  top: 94px;
  background: linear-gradient(334deg, #012403 0%, #318637 30%, white 100%);
  border-radius: 6px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;
}
.content .aside:hover .img-lupulo {
  transform: scale(1.1);
}
.content .aside .img-container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.content .aside .img-container .img-lupulo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.25s;
}
.content .aside .parraf {
  z-index: 1;
  font-family: "Open Sans", sans-serif;
  color: white;
  padding: 24px 14px;
  background-color: #133d0261;
  margin: 0;
  backdrop-filter: blur(3px);
}
.content .aside .parraf .lupulo-info-link {
  color: #f1884e;
}
.content .productos .product {
  grid-area: productos;
  border-radius: 6px;
  background-color: white;
}
.content .productos .product .product__button {
  border-radius: 20px;
  font-size: 0.875rem;
  background-color: white;
  border: 2px solid #7070b0;
  color: #7070b0;
  margin-bottom: 20px;
  width: 120px;
  height: 40px;
  transition: all 0.2s;
}
.content .productos .product .product__button:hover {
  color: white;
  background-color: #7070b0;
}
@media only screen and (max-width: 991px) {
  .content {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "articulo" "aside" "productos";
  }
  .content .aside {
    height: 300px;
    position: relative;
    top: 0;
  }
  .content .aside .parraf {
    display: inline-block;
    width: 100%;
  }
}

.products-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.products-section .product {
  width: 300px;
  height: 450px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  margin: 0.75rem;
  flex-direction: column;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  transition: all 0.3s;
}
.products-section .product:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  transform: scale(101%);
}
.products-section .product p {
  width: 100%;
  padding: 1rem;
  text-align: justify;
}
.products-section .product .product__image {
  width: 200px;
  height: 200px;
  margin-top: 20px;
}

/* Footer */
.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "logo-slogan    contacto       preguntas" "redes-sociales redes-sociales redes-sociales" "derechos       derechos       derechos";
  justify-items: center;
  align-items: center;
  gap: 15px;
  margin: 0;
  padding: 20px 0 0 0;
  background-color: #121212;
}
.footer .logo-footer {
  grid-area: logo-slogan;
}
.footer .logo-footer .logo-footer__image {
  justify-content: center;
  width: 128px;
  height: 128px;
}
.footer .logo-footer .logo-footer__slogan {
  margin: 0;
  padding: 0;
  text-align: center;
  color: white;
}
.footer .logo-footer .logo-footer__slogan .fa-heart {
  transition: 0.5s;
  color: #e03131;
  animation: latido 1.1s infinite;
}
@keyframes latido {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1.3);
  }
  20% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.3);
  }
  40% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
.footer .contacto {
  color: white;
  grid-area: contacto;
}
.footer .contacto .contacto__list {
  margin: 0;
  padding: 0;
  width: auto;
  list-style: none;
  font-size: 0.875rem;
  font-family: "Open Sans", sans-serif;
}
.footer .contacto .contacto__list .contact__first-item {
  font-size: 1rem;
  line-height: 3.125rem;
  color: tomato;
}
.footer .contacto .contacto__list i {
  width: 1rem;
  margin-right: 8px;
}
.footer .preguntas {
  grid-area: preguntas;
}
.footer .preguntas .preguntas__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.footer .preguntas .preguntas__list .preguntas__first-item {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  line-height: 3.125rem;
  color: tomato;
}
.footer .preguntas a {
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
  color: white;
  text-decoration: none;
  transition: all 0.15s;
}
.footer .preguntas a:hover {
  color: tomato;
  text-decoration: underline;
}
.footer .redes-sociales {
  grid-area: redes-sociales;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.footer .redes-sociales .redes-sociales__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.footer .redes-sociales .redes-sociales__list li {
  width: 50px;
  height: 50px;
}
.footer .redes-sociales .redes-sociales__list .redes-sociales__text {
  text-decoration: none;
  font-size: 10px;
  color: white;
  opacity: 0.5;
}
.footer .redes-sociales .followus {
  color: white;
  text-align: center;
  margin: 10px;
}
.footer .redes-sociales a {
  color: white;
  padding: 8px 10px;
  text-decoration: none;
  position: relative;
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-size: 1.25rem;
}
.footer .redes-sociales a .fab {
  padding: 5px 0;
}
.footer .redes-sociales a .fa-youtube {
  z-index: 1;
}
.footer .redes-sociales a .play-ytb {
  position: absolute;
  width: 8px;
  height: 6px;
  top: 20px;
  background-color: transparent;
  z-index: 0;
  transition: background 0.3s;
}
.footer .redes-sociales a:hover {
  background-color: #313539;
}
.footer .redes-sociales a:hover .fa-instagram {
  transition: color 0.3s;
  color: #e4405f;
}
.footer .redes-sociales a:hover .play-ytb {
  background-color: white;
}
.footer .redes-sociales a:hover .fa-facebook-f {
  transition: color 0.3s;
  color: #1877f2;
}
.footer .redes-sociales a:hover .play-ytb {
  background-color: white;
}
.footer .redes-sociales a:hover .fa-twitter {
  transition: color 0.3s;
  color: #1da1f2;
}
.footer .redes-sociales a:hover .play-ytb {
  background-color: white;
}
.footer .redes-sociales a:hover .fa-youtube {
  transition: color 0.3s;
  color: #f00;
}
.footer .redes-sociales a:hover .play-ytb {
  background-color: white;
}
.footer .derechos {
  grid-area: derechos;
  align-self: end;
  margin: 0;
  padding: 20px 0;
  width: 100%;
  background-color: #0c0c0c;
}
.footer .derechos .derechos__text {
  font-size: 0.75rem;
  padding: 0 50px;
  margin: 0;
  color: #888;
  font-family: "Open Sans", sans-serif;
  text-align: end;
}
@media only screen and (min-width: 426px) and (max-width: 768px) {
  .footer {
    grid-template-areas: "logo-slogan    preguntas" "logo-slogan    contacto" "redes-sociales redes-sociales" "derechos       derechos";
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
  .footer .contacto {
    justify-self: start;
  }
  .footer .preguntas {
    justify-self: start;
  }
}
@media only screen and (min-width: 0px) and (max-width: 425px) {
  .footer {
    grid-template-columns: 1fr;
    grid-template-areas: "logo-slogan" "contacto" "preguntas" "redes-sociales" "derechos";
    gap: 20px;
    padding: 0;
    height: calc(100vh - 74px);
    min-height: 680px;
  }
  .footer .redes-sociales__list li {
    margin: 0 5px;
  }
}

#body-beers {
  background-color: #f2f2f2;
  display: grid;
  grid-template-rows: 74px 1fr auto;
  grid-template-columns: 1fr;
  grid-template-areas: "header-beers" "main-beers" "footer-beers";
}
#body-beers .header-beers {
  grid-area: header-beers;
}
#body-beers .main-beers {
  grid-area: main-beers;
}
#body-beers .footer-beers {
  grid-area: footer-beers;
}

.encabezado-cervezas {
  margin: 16px auto;
  padding: 20px;
  max-width: 900px;
  color: #4b4b89;
}

.beer-list {
  list-style: none;
  display: grid;
  justify-content: center;
  gap: 20px;
  padding: 0;
  margin: 20px;
}
.beer-list .beer-list-item {
  display: grid;
  max-width: 900px;
  position: relative;
  grid-template-rows: auto auto 60px;
  grid-template-columns: minmax(200px, 35%) 1fr;
  grid-template-areas: "image-beer name" "image-beer descr" "image-beer buy-btn";
  border-radius: 6px;
  overflow: hidden;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  background-color: white;
}
.beer-list .beer-list-item .beer-info {
  width: 0;
  position: absolute;
  transition: all 0.5s;
  height: 100%;
}
.beer-list .beer-list-item .beer-info ul {
  list-style: none;
  display: none;
  transition: all 0.8s;
  width: 0;
  height: 100%;
  font-size: 1rem;
  text-transform: uppercase;
  font-family: "Open Sans";
  line-height: 24px;
  letter-spacing: 2px;
  padding-right: 10px;
  white-space: nowrap;
}
.beer-list .beer-list-item:hover .beer-info {
  background-color: #7070b0;
  width: 35%;
  min-width: 200px;
}
.beer-list .beer-list-item:hover .beer-info ul {
  width: 100%;
  flex-direction: column;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  padding: 0 1rem;
  color: white;
}
.beer-list .beer-list-item .image-beer {
  width: 200px;
  grid-area: image-beer;
  justify-self: center;
  align-self: center;
}
.beer-list .beer-list-item .descr {
  grid-area: descr;
  padding: 1rem;
}
.beer-list .beer-list-item .name {
  padding: 1rem;
  grid-area: name;
}
.beer-list .beer-list-item .buy-btn {
  grid-area: buy-btn;
  justify-self: start;
  align-content: center;
  border-radius: 20px;
  background-color: white;
  border: 2px solid #7070b0;
  color: #7070b0;
  margin-left: 26px;
  width: 120px;
  height: 40px;
  transition: all 0.2s;
}
.beer-list .beer-list-item .buy-btn:hover {
  color: white;
  background-color: #7070b0;
}
@media only screen and (max-width: 678px) {
  .beer-list {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .beer-list .beer-list-item {
    grid-template-columns: 1fr;
    grid-template-areas: "image-beer" "name" "beer-info" "descr" "buy-btn";
    grid-template-rows: 250px auto auto auto 64px;
  }
  .beer-list .beer-list-item:hover .beer-info {
    width: 100%;
    background-color: transparent;
  }
  .beer-list .beer-list-item:hover .beer-info ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 1rem;
  }
  .beer-list .beer-list-item:hover .beer-info ul li {
    font-size: 12px;
    color: #d62100;
  }
  .beer-list .beer-list-item .beer-info {
    grid-area: beer-info;
    position: static;
    width: 100%;
  }
  .beer-list .beer-list-item .beer-info ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 1rem;
  }
  .beer-list .beer-list-item .beer-info ul li {
    font-size: 0.75rem;
    color: #d62100;
  }
  .beer-list .beer-list-item .buy-btn {
    justify-self: center;
    align-self: start;
    margin: 0;
  }
  .beer-list #beer-ipa h2 {
    box-shadow: 0 50px 100px -110px #ffa002 inset;
  }
  .beer-list #beer-cream-stout h2 {
    box-shadow: 0 50px 100px -110px black inset;
  }
  .beer-list #beer-scotch h2 {
    box-shadow: 0 50px 100px -110px #c93636 inset;
  }
  .beer-list #beer-golden h2 {
    box-shadow: 0 50px 100px -110px #ffc400 inset;
  }
}

#body-locations {
  display: grid;
  grid-template-rows: 74px 1fr auto;
  grid-template-columns: 1fr;
  grid-template-areas: "header-locations" "main-locations" "footer-locations";
}
#body-locations .header-locations {
  grid-area: header-locations;
}
#body-locations .main-locations {
  grid-area: main-locations;
}
#body-locations .footer-locations {
  grid-area: footer-locations;
}

.encabezado-locales {
  margin: 1rem auto;
  max-width: 900px;
  padding: 10px;
  color: #4b4b89;
}

.ubications .ubications-list {
  margin: 20px 10px;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: minmax(728px, 900px);
  justify-content: center;
  gap: 20px;
}
.ubications .ubications-list .ubi__item {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: 500px;
  grid-template-areas: "ubi-text ubi-image";
  justify-content: space-between;
  position: relative;
  background-color: #1f1f1f;
  overflow: hidden;
}
.ubications .ubications-list .ubi__item .ubi-text-cont {
  position: relative;
}
.ubications .ubications-list .ubi__item .ubi-text-cont .ubi-text {
  position: relative;
  padding: 30px;
  text-align: right;
  line-height: 30px;
  color: white;
  grid-area: ubi-text;
}
.ubications .ubications-list .ubi__item .ubi-text-cont .reserva-btn {
  text-decoration: none;
  border: 0;
  color: white;
  line-height: 1rem;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: absolute;
  right: 30px;
  bottom: 30px;
  background: #ff8222;
  background: linear-gradient(45deg, #ff6422 0%, #ff0079 100%);
  padding: 10px 20px;
  transition: all 0.15s;
}
.ubications .ubications-list .ubi__item .ubi-text-cont .reserva-btn:hover {
  transform: scale(1.05);
}
.ubications .ubications-list .ubi__item .ubi-text-cont .reserva-btn:active {
  transform: scale(0.95);
}
.ubications .ubications-list .ubi__item .ubi-img-map-cont {
  overflow: hidden;
}
.ubications .ubications-list .ubi__item .ubi-img-map-cont .ubi-map {
  width: 120px;
  height: 120px;
  grid-area: ubi-map;
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 1;
}
.ubications .ubications-list .ubi__item .ubi-img-map-cont .ubi-image {
  width: 100%;
  height: 100%;
  grid-area: ubi-image;
  object-fit: cover;
  opacity: 0.8;
  transition: all 0.1s;
  transition: transform 0.5s;
}
.ubications .ubications-list .ubi__item .ubi-img-map-cont .ubi-image:hover {
  opacity: 1;
  transform: scale(1.03);
}
@media only screen and (min-width: 426px) and (max-width: 768px) {
  .ubications .ubications-list {
    grid-template-columns: 100%;
    grid-template-rows: repeat(4, auto);
    gap: 30px;
  }
  .ubications .ubications-list .ubi__item {
    grid-template-columns: 100%;
    grid-template-rows: 350px minmax(250px, auto);
    grid-template-areas: "ubi-img-map-cont" "ubi-text-cont";
  }
  .ubications .ubications-list .ubi__item .ubi-text-cont {
    grid-area: ubi-text-cont;
  }
  .ubications .ubications-list .ubi__item .ubi-text-cont .ubi-text {
    padding-bottom: 100px;
  }
  .ubications .ubications-list .ubi__item .ubi-img-map-cont {
    grid-area: ubi-img-map-cont;
  }
  .ubications .ubications-list .ubi__item .ubi-img-map-cont .ubi-map {
    top: 10px;
  }
  .ubications .ubications-list .ubi__item .ubi-img-map-cont .ubi-image {
    opacity: 1;
    width: 100%;
    height: 100%;
  }
}
@media only screen and (min-width: 0px) and (max-width: 425px) {
  .ubications .ubications-list {
    grid-template-columns: 100%;
    grid-template-rows: repeat(4, auto);
    gap: 30px;
  }
  .ubications .ubications-list .ubi__item {
    grid-template-columns: 100%;
    grid-template-rows: 350px minmax(250px, auto);
    grid-template-areas: "ubi-img-map-cont" "ubi-text-cont";
  }
  .ubications .ubications-list .ubi__item .ubi-text-cont {
    grid-area: ubi-text-cont;
  }
  .ubications .ubications-list .ubi__item .ubi-text-cont .ubi-text {
    padding-bottom: 100px;
  }
  .ubications .ubications-list .ubi__item .ubi-img-map-cont {
    grid-area: ubi-img-map-cont;
  }
  .ubications .ubications-list .ubi__item .ubi-img-map-cont .ubi-map {
    top: 10px;
  }
  .ubications .ubications-list .ubi__item .ubi-img-map-cont .ubi-image {
    opacity: 1;
    width: 100%;
    height: 100%;
  }
}

/* Nosotros */
#body-us {
  display: grid;
  grid-template-rows: 74px 50vh auto auto auto;
  grid-template-columns: 1fr;
  grid-template-areas: "header-us" "banner-us" "main-us" "section-process-us" "footer-us";
}
#body-us .header-us {
  grid-area: header-us;
}
#body-us .banner-us {
  grid-area: banner-us;
}
#body-us .main-us {
  grid-area: main-us;
}
#body-us .section-process-us {
  grid-area: section-process-us;
}
#body-us .footer-us {
  grid-area: footer-us;
}

.banner {
  height: calc(50vh - $h-menu);
  position: relative;
  overflow: hidden;
}
.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.banner .h1-container {
  top: calc(50% - 75px);
  width: 100%;
  height: 150px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(2px);
}
.banner .h1-container .encabezado-nosotros {
  width: 100%;
  text-align: center;
  position: absolute;
  text-transform: uppercase;
  color: white;
  font-size: 3.75rem;
  font-family: "Oswald", "sans-serif";
  line-height: 100px;
  padding: 1.56rem;
}
@media only screen and (min-width: 426px) and (max-width: 768px) {
  .banner .h1-container .encabezado-nosotros {
    font-size: 3rem;
  }
}
@media only screen and (min-width: 0px) and (max-width: 425px) {
  .banner .h1-container .encabezado-nosotros {
    font-size: 2.75rem;
  }
}

.main-us {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
}
.main-us p, .main-us img {
  text-align: justify;
  width: 60%;
  min-width: 576px;
  max-width: 900px;
  height: auto;
}
.main-us img {
  height: 100%;
}
.main-us .h2-sobre-nosotros {
  width: 60%;
  margin: 20px 0;
  min-width: 576px;
  max-width: 900px;
  color: #4b4b89;
}
.main-us .h2-nosotros-proposito {
  width: 60%;
  margin: 20px 0;
  min-width: 576px;
  max-width: 900px;
}
@media only screen and (min-width: 426px) and (max-width: 768px) {
  .main-us .encabezado-nosotros, .main-us p, .main-us img, .main-us .h2-nosotros-proposito, .main-us .h2-sobre-nosotros {
    width: 80%;
    min-width: 0;
  }
}
@media only screen and (min-width: 0px) and (max-width: 425px) {
  .main-us .encabezado-nosotros, .main-us p, .main-us img, .main-us .h2-nosotros-proposito, .main-us .h2-sobre-nosotros {
    width: 86%;
    min-width: 0;
  }
}

/* Lista de los 8 procesos de fabricación*/
.section-process-us {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 0;
  margin: 0;
}
.section-process-us .h2-nosotros-process {
  height: auto;
  width: 60%;
  min-width: 576px;
  max-width: 900px;
}
.section-process-us .list-process {
  width: 60%;
  min-width: 576px;
  max-width: 900px;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.section-process-us .list-process .list-process-item {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  margin: 20px 0;
  position: relative;
  /*Para que .tag sea absoluto*/
}
.section-process-us .list-process .list-process-item img {
  width: 120px;
  height: 120px;
  margin: 20px;
  border-radius: 100%;
  border: 4px solid #bba451;
}
.section-process-us .list-process .list-process-item .descripcion-paso {
  width: 100%;
  max-width: 600px;
  margin: 20px;
  margin-left: 0;
}
@media only screen and (max-width: 1333px) {
  .section-process-us .list-process .list-process-item .descripcion-paso {
    margin-left: 20px;
    margin-top: 0;
  }
}
.section-process-us .list-process .list-process-item .descripcion-paso h3 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.section-process-us .list-process .list-process-item .descripcion-paso p {
  color: #221f1f;
}
.section-process-us .list-process .list-process-item .tag {
  position: absolute;
  left: -20px;
  top: 16px;
}
.section-process-us .list-process .list-process-item .tag .num-list {
  background-color: #bba451;
  background-color: #7070b0;
  color: white;
  font-size: 1.125rem;
  font-family: "Oswald";
  border-radius: 2px;
  padding: 0 1.125rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 10px 12px -2px, rgba(0, 0, 0, 0.7) 0px 3px 7px -3px;
  display: inline-block;
}
@media only screen and (min-width: 426px) and (max-width: 768px) {
  .section-process-us .list-process, .section-process-us .h2-nosotros-process {
    width: 80%;
    min-width: 0;
  }
}
@media only screen and (min-width: 0px) and (max-width: 425px) {
  .section-process-us .list-process, .section-process-us .h2-nosotros-process {
    width: 86%;
    min-width: 0;
  }
}

/* Fin Nosotros */
#body-contact {
  display: grid;
  grid-template-rows: 74px 1fr auto;
  grid-template-columns: 1fr;
  grid-template-areas: "header-contact" "main-contact" "footer-contact";
}
#body-contact .header-contact {
  grid-area: header-contact;
}
#body-contact .main-contact {
  grid-area: main-contact;
}
#body-contact .footer-contact {
  grid-area: footer-contact;
}

.main-contact .article-contact {
  max-width: 448px;
  padding: 0;
}
.main-contact .article-contact .h1-contacto {
  color: #4b4b89;
}
.main-contact .article-contact .contacto-descr {
  margin: 0;
  max-width: 428px;
}
.main-contact .form-contact .form-control:focus, .main-contact .form-contact .btn:focus {
  box-shadow: 0 0 8px 0.01rem #a1a1cc;
  border-color: #a1a1cc;
}
.main-contact .form-contact .btn {
  border-color: #6060a7;
  color: #6060a7;
  background-color: #fff;
}
.main-contact .form-contact .btn:hover {
  color: #fff;
  background-color: #6060a7;
}

.error-container {
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.error-container .encabezado-error {
  font-size: 3.75rem;
  text-transform: uppercase;
}

/*# sourceMappingURL=style.css.map */
