@import "mixins";
@import "tools";

#body-beers{
  background-color: darken(white, 5%);
  display: grid;
  grid-template-rows: $h-menu 1fr auto;
  grid-template-columns: 1fr;
  grid-template-areas: "header-beers"
  "main-beers"
  "footer-beers";
  .header-beers{
    grid-area: header-beers;   
  }
  .main-beers{
      grid-area: main-beers;
  }
  .footer-beers{
      grid-area: footer-beers;
  }
}



.encabezado-cervezas {
  margin: 16px auto;
  padding: 20px;
  max-width: 900px;
  color:lighten($color-primary,20%);
}
.beer-list {
  list-style: none;
  display: grid;
  justify-content: center;
  gap: 20px;
  padding: 0;
  margin: 20px;

  .beer-list-item {
    display: grid;
    max-width: 900px;
    position: relative;
    grid-template-rows: auto auto 60px;
    grid-template-columns: minmax(200px,35%) 1fr;
    grid-template-areas:
      "image-beer name"
      "image-beer descr"
      "image-beer buy-btn";
    border-radius: 6px;
    overflow: hidden;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

    background-color: white;
    .beer-info {
      width: 0;
      position: absolute;
      transition: all 0.5s;
      height: 100%;
      ul {
        list-style: none;
        display: none;
        transition: all 0.8s;
        width: 0;
        height: 100%;
        font-size: 1rem;
        text-transform: uppercase;
        font-family: 'Open Sans';
        line-height: 24px;
        letter-spacing: 2px;
        padding-right: 10px;
        white-space: nowrap;
      }
    }
    &:hover {
      .beer-info {
        background-color: lighten($color-primary,35%);
        width: 35%;
        min-width: 200px;
        ul {
			width: 100%;
          flex-direction: column;
          @include flex(space-evenly, flex-end);
          padding: 0 1rem;
          color: white;
        }
      }
    }
    .image-beer {
      width: 200px;
      grid-area: image-beer;
      justify-self: center;
      align-self: center;
    }
    .descr {
      grid-area: descr;
      padding: 1rem;
    }
    .name {
      padding: 1rem;
      grid-area: name;
    }
    .buy-btn {
      grid-area: buy-btn;
      justify-self: start;
      align-content: center;
      border-radius: 20px;
      background-color: white;
      border: 2px solid lighten($color-primary,35%);
      color: lighten($color-primary,35%);
      margin-left: 26px;
      @include sizes(120px, 40px);
      transition: all 0.2s;
      &:hover {
        color: white;
        background-color: lighten($color-primary,35%);
      }
    }
  }

  @include responsive(678px){
  grid-template-columns: 1fr;
  gap: 40px;
  .beer-list-item{
    grid-template-columns: 1fr;
    grid-template-areas: "image-beer"
                          "name"
                          "beer-info"
                          "descr"
                          "buy-btn";
    grid-template-rows: 250px auto auto auto 64px;
	&:hover{

		.beer-info{
			width: 100%;
			background-color: transparent;
			ul{
				width:100%;
		  display: flex;
		  flex-direction: column;
		  align-items: flex-start;

		padding: 0 1rem;
        li{
			font-size: 12px;
          color: darken(tomato,22%);
        }

			}
		}
	}
    .beer-info{
      grid-area: beer-info;
      position:static;
      width:100%;
	  
      ul{
		  width:100%;
		  display: flex;
		  flex-direction: column;
		  align-items: flex-start;

		padding: 0 1rem;
        li{
			font-size: 0.75rem;
          color: darken(tomato,22%);
        }
        
        }
		
      }

      .buy-btn{
        justify-self: center;
		align-self: start;
        margin: 0;
      }
    }
		#beer-ipa{
			h2{
				box-shadow: 0 50px 100px -110px rgb(255, 160, 2) inset;
			}
		}
		#beer-cream-stout{
			h2{
				box-shadow: 0 50px 100px -110px rgb(0, 0, 0) inset;
			}
		}
		#beer-scotch{
			h2{
				box-shadow: 0 50px 100px -110px rgb(201, 54, 54) inset;
			}
		}
		#beer-golden{
			h2{
				box-shadow: 0 50px 100px -110px rgb(255, 196, 0) inset;
			}
		}
  }
}
  

