@import 'tools';

#body-contact{
    display: grid;
    grid-template-rows: $h-menu 1fr auto;
    grid-template-columns: 1fr;
    grid-template-areas: "header-contact"
                         "main-contact"
                         "footer-contact";
    .header-contact{
        grid-area: header-contact;   
    }
    .main-contact{
        grid-area: main-contact;
    }
    .footer-contact{
        grid-area: footer-contact;
    }
}

.main-contact{

    .article-contact{
        max-width: 448px;
        padding: 0;

        .h1-contacto{
            color:lighten($color-primary,20%);
        }

        .contacto-descr{
            margin:  0;
            max-width: 428px;
        }
    }
    
    .form-contact{
        
        .form-control, .btn{
            
            &:focus{
                box-shadow: 0 0 8px .01rem lighten($color-primary,50%);
                border-color: lighten($color-primary,50%);
            }
        }
        
        .btn{
            border-color: lighten($color-primary,30%);
            color: lighten($color-primary,30%);
            background-color: #fff;
            
            &:hover{            
                color: #fff;
                background-color: lighten($color-primary,30%);
            }
        }
    }
}