@import 'mixins';


#body-index{
    display: grid;
    grid-template-rows: 74px 60vh auto auto;
    grid-template-columns: 1fr;
    grid-template-areas: "header-index"
                         "main-index"
                         "products-section-index"
                         "footer-index";
    .header-index{
        grid-area: header-index;   
    }
    .main-index{
        grid-area: main-index;
    }
    .products-section-index{
        grid-area: products-section-index;
    }
    .footer-index{
        grid-area: footer-index;
    }
}


.main-section{
    position: relative;
}
.encabezado-main {
    position: absolute;
    top: 20%;
    left: 10%;
    font-style: normal;
    font-family: 'Oswald', sans-serif;
    font-size: 64px;
    text-transform: uppercase;
    color:#ffffff;
    letter-spacing: 10px;
    width: 50%;
    z-index: 1;
    @include responsive(tablet){
        font-size: 48px;
        .patagonia{
            font-size: 48px;
        }
    }
    @include responsive(mobile){
        font-size: 32px;
        line-height: 48px;
        .patagonia{
            font-size: 36px;
        }
    }
}

.patagonia {
    background-image: linear-gradient(45deg, rgba(255,100,34,1) 0%, rgba(255,0,121,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    font-weight: bold;
}

.carousel{
    .carousel-item{
        height: 60vh;
        img{
            height: 100%;
            object-fit: cover;
        }
    }
    .carousel-control-prev{
        transition: all .3s;
        &:hover {
            box-shadow: 120px 0px 40px -90px rgba(255,255,255,0.5) inset;
        }
    }
    .carousel-control-next{
        transition: all .3s;
        &:hover {
            box-shadow: -120px 0px 40px -90px rgba(255,255,255,0.5) inset;
        }
    }

}

/* Fin Sección principal */
