@import 'mixins';
@import 'tools';


.navbar{
    position: fixed;
    z-index: 10;
    width: 100%;
    .container-fluid{
        justify-content: flex-end;
        @include responsive(mob_and_tab){
            .navbar-toggler{
                flex-basis: 10%;
            }
            .navbar-brand{
                flex-basis: 40%;
                margin: 0;
                margin-right: 32px; //La mitad del width del logo
            }

            .navbar-nav{
                    align-items: flex-end;
                    text-align: end;
                    padding-right: 4%;
            }
        }


        .navbar-toggler{
            border: transparent;
            box-shadow: none;
            transition: all .2s ease;
            height: auto;
            padding: 0;
            .menu-icon{
                margin: auto;
                @include flex(center, center);
                flex-direction: column;
                justify-content: center;
                @include sizes(40px, 40px);
                border-radius: 50%;
                .stick{
                    background-color: rgba(255, 255, 255, 0.8);
                    @include sizes(24px,2px);
                    margin: 3px 0;
                    transition: all .4s ease;
                }
                &:hover{
                    background-color: #313539;
                    .stick{
                        background-color: $prim-clr;
                    }
                }
            }


            &:focus{
                border: transparent;
                box-shadow: none;
            }
            &[aria-expanded="true"]{
                .stick{
                    background-color: $prim-clr;
                }
                .stick-up{
                    transform: translateY(8px) rotate(45deg);
                }
                .stick-mid{
                    width: 0;
                }
                .stick-down{
                    transform: translateY(-8px) rotate(-45deg);
                }
            }
        }
        .nav-item{
            width: 100%;

            &:hover{
                background-color: #313539;
            }

            .dropdown-menu{
                background-color: $dark-clr;
                display: block;
                height: 0px;
                padding: 0;
                border: 0;
                transition: all .2s;
                .dropdown-item{
                    display: none;
                }
                &.show{
                    overflow: hidden;
                    .dropdown-item{
                        display: block;
                        transition: all .25s;
                        text-align: center;
                        &:hover{
                            background-color: #dcdbdf;
                        }
                    }
                    
                    box-shadow: 0 30px 30px 0 rgba(0,0,0,.3);
                    background: rgba(255,255,255,.92);
                    display: block;
                    height: 32px*3; // agregar variables
                    
                }
            }
            .nav-link{
                transition: color .15s;
                display: flex;
                justify-content: flex-start;
                align-items: baseline;
                i{
                    transition: all .15s;
                    margin-right: 20px;
                    padding: 5px;
                    justify-self: flex-start;
                    display: none;
                    @include responsive(mob_and_tab){
                        display: inline-block;
                    }
                }
                &:hover{
                    color: $prim-clr;
                    @include responsive(mob_and_tab){
                        i{
                            padding-right: 16px;
                        }
                    }
                }
            }
        }
    }
}