@mixin sizes($width, $height) {
    width: $width;
    height: $height;
}

@mixin mandp ($margin, $padding){
    margin: $margin;
    padding: $padding;
}

@mixin flex ($h-pos, $v-pos) {
    display: flex;
    justify-content: $h-pos;
    align-items: $v-pos;
}

@mixin img-cover {
    @include sizes(100%, 100%);
    object-fit: cover;
}

@mixin responsive($size) {
    @if $size == mobile {
        @media only screen and (min-width: 0px) and (max-width: 425px) {
            @content;
        }
    }@else if $size == tablet {
        @media only screen and (min-width: 426px) and (max-width: 768px) {
            @content;
        }
    }@else{
            @content;
    }
}