@import 'mixins';
@import 'tools';

/* Nosotros */

#body-us{
    display: grid;
    grid-template-rows: $h-menu 50vh auto auto auto;
    grid-template-columns: 1fr;
    grid-template-areas: "header-us"
                         "banner-us"
                         "main-us"
                         "section-process-us"
                         "footer-us";
    .header-us{
        grid-area: header-us;   
    }
    .banner-us{
        grid-area: banner-us;   
    }
    .main-us{
        grid-area: main-us;
    }
    .section-process-us{
        grid-area: section-process-us;
    }
    .footer-us{
        grid-area: footer-us;
    }
}







.banner{
    height: calc(50vh - 74px);
    position: relative;
    overflow: hidden;
    img{
        @include img-cover;
    }
    .h1-container{
        top: calc(50% - 75px);
        width: 100%;
        height: 150px;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.2);
        
        backdrop-filter: blur(2px);
        .encabezado-nosotros{
            width: 100%;
            text-align: center;
            position: absolute;
            text-transform: uppercase;
            color: white;
            font-size: 3.75rem;

            @include responsive(tablet){
                font-size: 3rem;
            }
            
            @include responsive(mobile){
                font-size: 2.75rem;
            }

            font-family: 'Oswald', 'sans-serif';
            line-height: 100px;
            padding: 1.56rem;
            
        }
    }
}

.main-us {
    @include flex(center, center);
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
    
    
    p, img{
        text-align: justify;
        width: 60%;
        min-width: 576px;
        max-width: 900px;
        height: auto;
    }
    img{
        height: 100%;
    }

    .h2-sobre-nosotros{
        width: 60%;
        margin: 20px 0;
        min-width: 576px;
        max-width: 900px;
        color:lighten($color-primary,20%);
    }
    .h2-nosotros-proposito{
        width: 60%;
        margin: 20px 0;
        min-width: 576px;
        max-width: 900px;
    }
    @include responsive(tablet){
        .encabezado-nosotros, p, img, .h2-nosotros-proposito, .h2-sobre-nosotros{
            width: 80%;
            min-width: 0;
        }
    }
    @include responsive(mobile){
        .encabezado-nosotros, p, img, .h2-nosotros-proposito, .h2-sobre-nosotros{
            width: 86%;
            min-width: 0;
        }
    }
}




/* Lista de los 8 procesos de fabricación*/
.section-process-us{
    @include flex(center, center);
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 0;
    margin: 0;
    
    .h2-nosotros-process {
        height: auto;
        width: 60%;
        min-width: 576px;
        max-width: 900px;
    }
    
    .list-process{
        width: 60%;
        min-width: 576px;
        max-width: 900px;
        padding: 0;
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        
        .list-process-item {
            @include flex(space-evenly, center);
            flex-wrap: wrap;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
            margin: 20px 0;
            position: relative; /*Para que .tag sea absoluto*/
            
            img{
                width: 120px;
                height: 120px;
                margin: 20px;
                border-radius: 100%;
                border: 4px solid $ns-light;
            }
            .descripcion-paso {
                width: 100%;
                max-width: 600px;
                margin:20px;
                margin-left:0;
                // Wrap
                @include responsive(1333px){
                    margin-left: 20px;
                    margin-top: 0;
                }
                h3{
                    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                }
                p {
                     color: rgb(34,31,31);
                }  
            }

            .tag {
                position: absolute;
                left: -20px;
                top: 16px;
                
                .num-list {
                    background-color: $ns-light;
                    background-color: lighten($color-primary, 35%);
                    color: white;
                    font-size: 1.125rem;
                    font-family: 'Oswald';
                    border-radius: 2px;
                    padding: 0 1.125rem;
                    box-shadow: rgba(50, 50, 93, 0.25) 0px 10px 12px -2px, rgba(0, 0, 0, 0.7) 0px 3px 7px -3px;
                    display: inline-block;
                }
            }
            
        }
    }


    @include responsive(tablet){
        .list-process, .h2-nosotros-process{
            width: 80%;
            min-width: 0;
        }
    }
    @include responsive(mobile){
        .list-process, .h2-nosotros-process{
            width: 86%;
            min-width: 0;
        }
    }
}

/* Fin Nosotros */