.error-container{
    .encabezado-error{
        font-size: 60px;
        text-transform: uppercase;
    }
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    
}