@import 'mixins';
@import 'tools';

/* Nosotros */



.banner{
    height: 60vh;
    img{
        @include img-cover;
    }
}

.acerca-de {
    @include flex(center, center);
    flex-direction: column;
    width: 100%;

    .encabezado-nosotros{
        text-transform: uppercase;
        color: $ns-light;
        width: 60%;
        min-width: 576px;
        font-size: 44px;
        font-family: 'Oswald', 'sans-serif';
        margin-top: 20px;
        box-shadow: $ns-light 0 -4px inset;
    
    }
    p, img{
        text-align: justify;
        // margin: 20px;
        width: 60%;
        min-width: 576px;
    }
    .h2-nosotros-proposito{
        width: 60%;
        min-width: 576px;
    }
    @include responsive(tablet){
        .encabezado-nosotros, p, img, .h2-nosotros-proposito{
            width: 75%;
            min-width: 0;
        }
    }
    @include responsive(mobile){
        .encabezado-nosotros, p, img, .h2-nosotros-proposito{
            width: 85%;
            min-width: 0;
        }
    }
}




/* Lista de los 8 procesos de fabricación*/
.list-container{
    @include flex(center, center);
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 0;
    margin: 0;

    .h2-nosotros-process {
        height: auto;
        width: 60%;
        min-width: 576px;
    }

    .list-process{
        width: 60%;
        min-width: 576px;
        padding: 0;
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        
        .list-process-item {
            @include flex(space-evenly, center);
            flex-wrap: wrap;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
            margin: 20px 0;
            position: relative; /*Para que .tag sea absoluto*/
            
            .tag {
                position: absolute;
                /* left: 10px; */
                left: -20px;
                top: 16px;
                
                .num-list {
                    background-color: $ns-light;
                    color: white;
                    font-size: 18px;
                    font-family: 'Oswald';
                    border-radius: 2px;
                    padding: 0 18px;
                    box-shadow: rgba(50, 50, 93, 0.25) 0px 10px 12px -2px, rgba(0, 0, 0, 0.7) 0px 3px 7px -3px;
                    display: inline-block;
                }
            }
            
            img{
                width: 120px;
                margin: 20px;
                border-radius: 100%;
                border: 4px solid $ns-light;
            }
            article {
                width: 600px;
                margin:15px;

            }
            p {
                 color: rgb(34,31,31);
            }  
        }
    }
    @include responsive(tablet){
        .list-process, .h2-nosotros-process{
            width: 75%;
            min-width: 0;
        }
    }
    @include responsive(mobile){
        .list-process, .h2-nosotros-process{
            width: 85%;
            min-width: 0;
        }
    }
}

/* Fin Nosotros */